[Desktop Entry]
Version=1.0
Name=Plank Folder
Comment=Opening folders content in Popup Window
Exec=/home/marcelo/Projetos/plankfolderlauncher/app "/home/marcelo/Projetos/Applications/"
Icon=/home/marcelo/Projetos/plankfolderlauncher/icon2.png
Terminal=false
Type=Application